<div class="col-md-4">
	<%= form_for [:admin, @coin] do |f| %>

		<div class="form-group">
			<%= f.label :thumbnail %>
			<%= f.text_field :thumbnail, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :name %>
			<%= f.text_field :name, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :totalcoins, "Total coins" %>
			<%= f.text_field :totalcoins, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :coinsperblock %>
			<%= f.text_field :coinsperblock, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :thash %>
			<%= f.text_field :thash, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :blocktime %>
			<%= f.text_field :blocktime, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :ticker %>
			<%= f.text_field :ticker, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :diff %>
			<%= f.text_field :diff, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :adjusttime %>
			<%= f.text_field :adjusttime, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :premine %>
			<%= f.text_field :premine, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :explorer%>
			<%= f.text_field :explorer, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :algorithm %>
			<%= f.text_field :algorithm, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :webpage %>
			<%= f.text_field :webpage, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :bitcointalk %>
			<%= f.text_field :bitcointalk, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :forum %>
			<%= f.text_field :forum, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :developer %>
			<%= f.text_field :developer, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :winwallet %>
			<%= f.text_field :winwallet, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :osxwallet %>
			<%= f.text_field :osxwallet, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :linwallet %>
			<%= f.text_field :linwallet, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :twitter %>
			<%= f.text_field :twitter, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :facebook%>
			<%= f.text_field :facebook, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :googleplus %>
			<%= f.text_field :googleplus, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :launchtime %>
			<%= f.text_field :launchtime, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :source %>
			<%= f.text_field :source, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :nodes %>
			<%= f.text_field :nodes, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :timeperround %>
			<%= f.text_field :timeperround, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :actualblock %>
			<%= f.text_field :actualblock, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :announcement %>
			<%= f.text_field :announcement, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :officialtext %>
			<%= f.text_field :officialtext, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.submit "Submit", class: "btn btn-success" %>
			<%= link_to "Cancel", admin_coins_url, class: "btn btn-danger" %>
		</div>

	<% end %>
</div>