<div class="col-md-4">
	<%= form_for [:admin, @coin] do |f| %>

		<div class="form-group">
			<%= f.label :thumbnail %>
			<%= f.text_field :thumbnail, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :name %>
			<%= f.text_field :name, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :totalcoins, "Total coins" %>
			<%= f.text_field :totalcoins, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :coinsperblock, "Coins per block" %>
			<%= f.text_field :coinsperblock, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :thash, "Total hashrate" %>
			<%= f.text_field :thash, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :blocktime, "Time per block" %>
			<%= f.text_field :blocktime, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :ticker, "Ticker" %>
			<%= f.text_field :ticker, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :diff, "Difficulty" %>
			<%= f.text_field :diff, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :adjusttime, "Adjust time" %>
			<%= f.text_field :adjusttime, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :premine, "Premine" %>
			<%= f.text_field :premine, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :explorer, "Block explorer" %>
			<%= f.text_field :explorer, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :algorithm, "Algorithm" %>
			<%= f.text_field :algorithm, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :webpage, "Coin webpage" %>
			<%= f.text_field :webpage, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :bitcointalk, "Bitcointalk thread" %>
			<%= f.text_field :bitcointalk, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :forum, "Official forum page" %>
			<%= f.text_field :forum, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :developer, "Coin developer" %>
			<%= f.text_field :developer, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :winwallet, "Windows wallet download" %>
			<%= f.text_field :winwallet, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :osxwallet, "OSX wallet download" %>
			<%= f.text_field :osxwallet, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :linwallet, "Linux wallet download" %>
			<%= f.text_field :linwallet, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :twitter, "Twitter" %>
			<%= f.text_field :twitter, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :facebook, "Facebook page" %>
			<%= f.text_field :facebook, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :googleplus, "Google+ page" %>
			<%= f.text_field :googleplus, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :launchtime, "Lauch date" %>
			<%= f.text_field :launchtime, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :source, "Source code" %>
			<%= f.text_field :source, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :nodes, "Nodes" %>
			<%= f.text_field :nodes, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :timeperround, "Time per round" %>
			<%= f.text_field :timeperround, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :actualblock, "Actual block" %>
			<%= f.text_field :actualblock, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :announcement, "Coin announcements" %>
			<%= f.text_field :announcement, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :officialtext, "Official text" %>
			<%= f.text_field :officialtext, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.submit "Submit", class: "btn btn-success" %>
			<%= link_to "Cancel", admin_coins_url, class: "btn btn-danger" %>
		</div>

	<% end %>
</div>