<h1>Admin - Coins</h1>

<p><%= link_to "Add new coin", new_admin_coin_path, class: "btn btn-primary" %></p>

<table class="table">
	<% @coins.each do |coin| %>
		<tr>
			<td><%= image_tag coin.thumbnail %> <%= coin.name %></td>
			<td><%= link_to "Coin info", admin_coin_coin_infos_path(coin) %> | <%= link_to "New coin info", new_admin_coin_coin_info_path(coin) %></td>
			<td><%= link_to "Pools", admin_coin_pools_path(coin) %></td>
			<td><%= link_to "Exchanges", admin_coin_exchanges_path(coin) %></td>
			<td><%= link_to "Edit", edit_admin_coin_path(coin) %> | <%= link_to "Delete", admin_coin_path(coin), method: "delete" %></td>
		</tr>
	<% end %>
</table>
