<div class="col-md-4">
	<%= form_for [:admin, @coin, @coininfo] do |f| %>

		<div class="form-group">
			<%= f.label :totalcoins %>
			<%= f.text_field :totalcoins, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :coinsperblock %>
			<%= f.text_field :coinsperblock, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.submit "Submit", class: "btn btn-success" %>
			<%= link_to "Cancel", admin_coins_url, class: "btn btn-danger" %>
		</div>

	<% end %>
</div>