<h1>Coins</h1>

<table class="table">
	<% @coins.each do |coin| %>
		<tr>
			<td><%= image_tag coin.thumbnail %> <%= coin.name %></td>
			<td><%= link_to "Coin info", coin_path(coin) %></td>
			<td><%= link_to "Pools", coin_pools_path(coin) %></td>
			<td><%= link_to "Exchanges", coin_exchanges_path(coin) %></td>
		</tr>
	<% end %>
</table>
